.bot-line{
    height: 30rpx;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.intervaltime{
    text-align: center;
    font-size: 40rpx;
    line-height: 100rpx;
}
.calendar {
    background-color:white; /*背景色为白色*/
    padding-top: 10px;    /*上内边距为10px*/
    color: #38ACFF;
    border-radius: 15px;   /*添加边框圆角*/
    border: 2rpx solid #38ACFF;
    -webkit-box-shadow:0 0 10px #38ACFF;
    -moz-box-shadow:0 0 10px #38ACFF;
    box-shadow:0 0 10px #38ACFF;
  
  }